

.curses ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;  
    margin: 0;
    list-style: none;

  
    
   
}

.curses  li{
    
    font-size: 1rem;
    font-weight: 200;
}

.curses li h3.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
    padding: 0;
    margin: 0;
    
    
    
}

.curses li a.form::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/capelo3.svg');
    
   
}