.experience {
    display: flex;
    flex-direction: column  ;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    font-weight: 100;
}


.experience li a.period {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.experience li .period::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('..//img/icons/experience.svg');
    
}
